.Display {
  margin: auto;
  width: 80%;
  text-align: center;
  border: 2px solid black;
  font-size: 10em;
}

.Input {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.Input input {
  text-align: center;
  width: 60%;
  height: 40px;
}
