.Display {
  text-align: center;
}

.Score {
  display: inline-block;
  padding: 4px;
  margin-inline: 10%;
  border: 2px solid black;
}

.Kana {
  margin: auto;
  width: 80%;
  text-align: center;
  border: 2px solid black;
  font-size: 100px;
}

.Input {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.Input input {
  text-align: center;
  width: 60%;
  height: 40px;
}

.Button {
  margin-top: 10px;
  text-align: center;
}

.Button button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  color: white;
  background: rgb(202, 60, 60);
  font-size: 15px;
}

.Checkboxes {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.Checkbox {
  display: inline-block;
}